.social {
    list-style: none;
    margin: 0;
    padding: 0 0 40px;
    display: flex;
    justify-content: center;
}
.social__link {
    display: block;
    margin: 0 10px;
    text-decoration: none;
}
.social__icon  {
    width: 32px;
    height: 32px;
    fill: #333;
    padding: 3px;
    border-radius: 20px;
    transition: background-color 0.5s ease,
                fill 0.5s ease;
}
.social__link:hover .social__icon--facebook,
.social__link:focus .social__icon--facebook {
    background-color: #3b5998;
    fill: #fff;
}
.social__link:hover .social__icon--twitter,
.social__link:focus .social__icon--twitter {
    background-color: #4099ff;
    fill: #fff;
}