<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="og:title" content="Ku Nye" />
    <meta property="og:description" content="Tibetan massage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ku-nye.no" />
    <meta property="og:image" content="https://www.ku-nye.no/<%= require('./logo.jpg') %>" />
    <meta property="og:image:type" content="image/jpg" />
    <title>Ku Nye</title>
</head>
<body>
<header class="header">
    <div class="welcome">
        <h1 class="title">Ku Nye</h1>
        <div>Tibetan masssage</div>
    </div>
    <figure class="more">
        <%= require('!svg-inline-loader!./chevron-down.svg') %>
    </figure>
</header>

<main class="main">
    <section class="section">
        <h2 class="heading">What is Ku Nye?</h2>
        <p>Ku Nye (སྐུ་མཉེ།) is a Tibetan form of massage, which has been practiced for thousands of years 
            in Tibet and the Himalayan region of Asia as an integral part of Tibetan Medicine. 
            In Tibetan, the word Ku (སྐུ་) means to apply oil and Nye (མཉེ་)་means to apply pressure with a 
            variety of movements.
        </p>
    </section>

    <section class="section">
        <h2 class="heading">Our treatment</h2>
        <p>During our Ku Nye treatment, we focus on specific energy points which are stimulated using
            finger pressure while also applying oil with pressure.
        </p>
    </section>

    <section class="section">
        <h2 class="heading">Price</h2>
        <p>90 minuttes kr 750,-
        </p>
    </section>

    <section class="section">
        <h2 class="heading">Want to contact us?</h2>
        <p>Please contact us using our email <a href="mailto:ku-nye@gmail.com">ku-nye@gmail.com</a>
        </p>
    </section>
</main>
</body>
</html>