<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="og:title" content="Ku nye" />
    <meta property="og:description" content="Traditional Tibetan Massage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kunye.netlify.com" />
    <meta property="og:image" content="https://kunye.netlify.com/<%= require('./assets/images/buddha.jpg') %>" />
    <meta property="og:image:type" content="image/jpg" />
    <title>Ku nye</title>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="facebook" width="24" height="24" viewBox="0 0 24 24">
            <%= require('!svg-inline-loader!./assets/images/social-facebook.svg') %>
          </symbol>

        <symbol id="twitter" width="24" height="24" viewBox="0 0 24 24">
            <%= require('!svg-inline-loader!./assets/images/social-twitter.svg') %>
        </symbol>
    </svg>
</head>
<body>

<header class="poster">
    <section class="poster__section">
        <h1 class="poster__heading">Ku nye</h1>
        <p class="poster__subheading">Traditional Tibetan Massage</p>
    </section>
</header>

<article class="article">
    <section class="section">
        <h1 class="heading">What is Ku nye?</h1>
        <p>Ku nye is a tibetan healing massage and an integral part of Tibetan Medicine 
           which has been practiced for thousands of years in Tibet and the Himalayan region of Asia.
           In Tibetan, the word Ku (སྐུ་) means to apply oil, and the word nye (མཉེ་) means to use pressure with movement.
        </p>
    </section>

    <section class="section">
        <h1 class="heading">What you can expect</h1>
        <p>You can expect a gentle massage with natural tibetan massage oil. 
           Some pressure will be applied on certain points. 
           We focus on giving you a sense of peace so you feel relaxed. 
           Both the front and the back of your body will be massaged.
           The treatment lasts for about 90 minuttes.
        </p>
    </section>

    <section class="section">
        <h1 class="heading">Pricing</h1>
        <p>90 minuttes of Ku Nye: CHF 80,-
        </p>
    </section>

    <section class="section">
        <h1 class="heading">Contact</h1>
        <p>Feel free to contact us at <a class="no-break" href="mailto:kunye@gmail.com">kunye@gmail.com</a>
        </p>
        <p>We are temporarily located in Nuglar-St. Pantaleon. 
           The address is <a href="https://goo.gl/maps/i8memAUFfx52">Neumattstrasse 3, 4412 Nuglar, Switzerland.</a>
           It's about 30 minutes by car from Basel.
        </p>
    </section>

    <section class="section">
        <h1 class="heading">About us</h1>
        <p>We are Mari Holte and Nawang Thondrup. 
           We speak norwegian and english. Mari knows some german as well.
           We give the treatment the same way we learned it at 
           <a href="http://www.purevisionsorig.org/">Pure Vision Sorig Healing and Research Center</a> i Nepal 
           from which we recieved our certificate in Ku nye massage in May, 2017.
        </p>
    </section>
</article>

<footer>
    <ul class="social">
        <li>
            <a class="social__link" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://ku-nye.netlify.com', 'facebook-share','width=580,height=296');return false;">
                <svg class="social__icon social__icon--facebook tooltip__target"><use xlink:href="#facebook" /></svg>
                <span class="tooltip">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a class="social__link" href="#" onclick="window.open('http://twitter.com/share?text=Tibetan Ku-Nye Massage&amp;url=https://ku-nye.netlify.com', 'twitter-share', 'width=550,height=235');return false;">
                <svg class="social__icon social__icon--twitter tooltip__target"><use xlink:href="#twitter" /></svg>
                <span class="tooltip">Share on Twitter</span>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>