<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="og:title" content="Ku nye" />
    <meta property="og:description" content='Ku nye is a tibetan healing massage and an integral part of Tibetan Medicine. The Tibetan word Ku (སྐུ་) means "to apply oil", and the word nye (མཉེ་) means "to use pressure with movement".' />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kunye.netlify.com" />
    <meta property="og:image" content="https://kunye.netlify.com/<%= require('./assets/images/buddha-large.jpg') %>" />
    <meta property="og:image:type" content="image/jpg" />
    <title>Ku nye</title>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="facebook" width="24" height="24" viewBox="0 0 24 24">
            <%= require('!svg-inline-loader!./assets/images/social-facebook.svg') %>
          </symbol>

        <symbol id="twitter" width="24" height="24" viewBox="0 0 24 24">
            <%= require('!svg-inline-loader!./assets/images/social-twitter.svg') %>
        </symbol>
    </svg>
</head>
<body>

<header class="poster">
    <section class="poster__section">
        <h1 class="poster__heading">Ku nye</h1>
        <p class="poster__subheading">Traditional tibetan massage</p>
    </section>
</header>

<article class="article">
    <section class="section">
        <h1 class="heading">What is Ku nye?</h1>
        <p>Ku nye is a tibetan healing massage and an integral part of Tibetan Medicine.
           The Tibetan word Ku (སྐུ་) means "to apply oil", and the word nye (མཉེ་) means "to use pressure with movement".
        </p>
    </section>

    <section class="section">
        <h1 class="heading">What you can expect</h1>
        <p>You can expect a gentle massage with massage oil. Light pressure will be applied on certain points. 
        We focus on giving you a sense of wellbeing. 
        Both the front and the back side of your body will be massaged. The treatment lasts for about 90 minuttes.
        </p>
    </section>

    <section class="section">
        <h1 class="heading">Pricing</h1>
        <p>90 minutes of Ku nye: Free (We need volunteers to practice on).
        </p>
    </section>

    <section class="section">
        <h1 class="heading">Contact</h1>
        <p>Feel free to contact Mari at <a class="nobreak" href="mailto:mstaurnes@gmail.com">mstaurnes@gmail.com</a>
           or Christoffer at <a class="nobreak" href="mailto:christoffer.thondrup@gmail.com">christoffer.thondrup@gmail.com</a>
        </p>
        <p>We are temporarily in Nuglar-St. Pantaleon. 
           The address is <a href="https://goo.gl/maps/i8memAUFfx52">Neumattstrasse 3, 4412 Nuglar, Switzerland.</a>
           It's about 30 minutes by car from Basel.
        </p>
    </section>

    <section class="section">
        <h1 class="heading">About us</h1>
        <p>We are Mari Holte and Christoffer Nawang Aarøy Thondrup. 
           We speak norwegian and english. Mari also speaks german.
           We were taught Ku nye at the Pure Vision Sorig Healing and Research Center in Nepal, and
           recieved our massage certificates upon completion in May, 2017.
        </p>
        <div class="profilepicture__container">
            <figure class="profilepicture">
                <img class="profilepicture__img" src="<%= require('./assets/images/chris.jpg') %>" alt="Picture of Christoffer Nawang Aarøy Thondrup" title="Christoffer Nawang Aarøy Thondrup" />
                <figcaption class="profilepicture__caption">Christoffer Nawang Aarøy Thondrup</figcaption>
            </figure>
            <figure class="profilepicture">
                <img class="profilepicture__img" src="<%= require('./assets/images/mari.jpg') %>" alt="Picture of Mari Holte" title="Mari Holte" />
                <figcaption class="profilepicture__caption">Mari Holte</figcaption>
            </figure>
        </div>
    </section>

</article>

<footer>
    <ul class="social">
        <li class="tooltip__origin">
            <a aria-labelledby="social-facebook-tooltip" class="social__link tooltip__target" href="#" 
                onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://kunye.netlify.com', 'facebook-share','width=580,height=296');return false;">
                <svg class="social__icon social__icon--facebook"><use xlink:href="#facebook" /></svg>
            </a>
            <span id="social-facebook-tooltip" class="tooltip" role="tooltip">Share on Facebook</span>
        </li>
        <li class="tooltip__origin">
            <a aria-labelledby="social-twitter-tooltip" class="social__link tooltip__target" href="#" 
                onclick="window.open('http://twitter.com/share?text=Traditional Tibetan Massage&amp;url=https://kunye.netlify.com', 'twitter-share', 'width=550,height=235');return false;">
                <svg class="social__icon social__icon--twitter"><use xlink:href="#twitter" /></svg>
            </a>
            <span id="social-twitter-tooltip" class="tooltip" role="tooltip">Share on Twitter</span>
        </li>
    </ul>
</footer>
</body>
</html>